
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/footer.css">

<section class="footer-sec">
<div class="footer-section">
  <div class="footer">
    <div class="container">
      <div class="col-md-4 footer-one">
        <div class="foot-logo">
          <img src="img/hat2.png" height="200" width="400">
        </div>

        <p>Here's your chance to find the perfect hat for you. <br> Have no fear of Judgement. <br><br> We're all Mad Here.
        </p>
        <div class="social-icons">
          <a href="https://www.facebook.com/">
            <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
          </a>
          <a href="https://twitter.com/">
            <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
          </a>
          <a href="https://plus.google.com/">
            <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
          </a>
          <a href="mailto:ismaelbarba1@gmail.com">
            <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
          </a>
        </div>
      </div>
      


      <div class="col-md-2 footer-three">
        <h5>Quick Links</h5>
        <ul>
          <li>
            <a href="#"> About Us</a>
          </li>
          <li>
            <a href="#"> Our News</a>
          </li>
          <li>
            <a href="#"> Our Services</a>
          </li>
          <li>
            <a href="#"> Contact Us</a>
          </li>
        </ul>

      </div>
      <div class="col-md-4 footer-four">
        <!--<h5></h5>-->
        <img src="img/Alice1.png" height="400" width="600" style="margin-bottom: -100" />
         <!--http://iacademy.mikado-themes.com/wp-content/uploads/2017/05/footer-img-1.png-->

      </div>






      <div class="clearfix"></div>
    </div>
  </div>

</div>
</section>


</section class="bottom-section">
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 ">
        <div class="copyright-text">
          <p>CopyRight © 2018 MadAsAHatter.com</p>
        </div>
      </div>
      <!-- End Col -->
      <div class="col-sm-6  ">
        <div class="copyright-text pull-right">
          <p>
            <a href="#">Home</a> |
            <a href="#">Privacy</a> |
            <a href="#">Terms & Conditions</a> |
            <a href="#">Refund Policy</a>
          </p>
        </div>

      </div>
      <!-- End Col -->
    </div>
  </div>
</div>

</section>